body {
  text-align: center;
  background: rgb(63, 233, 233);
  font-size: 25px;
  text-shadow: 2px 2px red;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 25px;
  padding: 1em;
}

li {
  margin: 0 1em;
}

a {
  text-decoration: none;
}
.active_Styles {
  background: lightgray;
}
